h1,h4{
    text-align: center;
}

 .middle_body_content{
    width: 1500px;
    height: 1100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0;
}

/*.card{
    width: 400px;
    height: 300px; 
}

.img{
    width: 250px;
    height: 100px;
}

.card img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}
 */

 .middle_body_conteiner{
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-right: auto;
    margin-left: auto;
 }

 .card_conteiner {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 350px;
    padding: 5px;
    background-color: white; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавный эффект при наведении */
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;

  }
  
  .card {
    width: 250px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer; /* Курсор-указатель при наведении */
   
  }
  
  .card_conteiner:hover {
    transform: translateY(-5px); /* Приподнятие при наведении */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Увеличение тени при наведении */
  }
  

  .img{
    position: relative;
    cursor: pointer;
    width: 250px;
    height: 200px;
    border-radius: 10px 10px 0 0; /* Закругление только верхних краев изображения */
}
  .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
   
  }
  
  .card_sales {
    position: absolute;
    display: flex;

    justify-content: center;
    top: 10px;
    right: 10px;
    background-color: red; /* Цвет фона для элемента акции */
    width: 40px;
    height: 29px;
    border-radius: 5px;
    color: white;
    font-weight: bold;

  }
  
  .card_sales {
    pointer-events: none; /* Ensures no hover effect on this element */
}

.card_price{
    font-size: 20px;
    margin-right: 6px;
    margin-left: 10px;
    font-weight: bold;
}

.gift_gertificate{
    position: absolute;
    left: 30%;
    bottom: 10px;
    width: 100px;
    height: 40px;
    border: none;
    background-color: #2291FF;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}

.gift_gertificate:hover{
 cursor: pointer;
    background-color:#1b7acc;
 

}


@media (max-width: 768px) {
  .middle_body_content {
      width: 360px;
      height: 1800px;
      
  }

  .middle_body_conteiner {
      width: 100%;
   
      gap: 15px;
  }

  .card_conteiner {
      width: 100%;
      max-width: 90%;
      height: auto;
  }

  .card {
      width: 100%;
      max-width: 90%;
      height: 300px;
  }

  .img {
      width: 100%;
      height: 150px;
  }

  .card_price {
      font-size: 18px;
      margin: 0 5px 0 8px;
  }

  .gift_gertificate {
      width: 80px;
      height: 35px;
      font-size: 14px;
  }
}